{% extends 'base.html' %}
{% load static %}



{% block title %}
 <title>LoginPage</title>
{% endblock %}

{% block content %}
<div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item "><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item "><a href="about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="../project" class="nav-link">Project</a></li>
                <li class="nav-item"><a href="../services" class="nav-link">Services</a></li>

                <li class="nav-item"><a href="../blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="../contact" class="nav-link">Contact</a></li>
				<li class="nav-item active"><a href="../login" class="nav-link">Login</a></li>
            </ul>
        </div>
</nav>

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Login</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Login<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>


<section class="ftco-section">
<div class = "container">
    <form style=" width:300px; margin:auto;" method="POST" >
    <div class="col-6 text-dark text-left font-weight-bold" >
            {% csrf_token %}
            {{ form }}
        <p></p>
            <button type="Submit" class="btn btn-success" style="width:100px">Login</button>
    </div>
    </form>
</div>
<div class="conatiner">
    <p>&nbsp;&nbsp;</p>
</div>

</section>
</body>

{% endblock %}
