{% extends 'base.html' %}
{% load static %}

{% block title %}

<title>Blog</title>

{% endblock %}

    {% block content %}
    <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item "><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="../about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="../project" class="nav-link">Project</a></li>
                <li class="nav-item"><a href="../services" class="nav-link">Services</a></li>
               
                <li class="nav-item active"><a href="../blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="../contact" class="nav-link">Contact</a></li>
                {% if request.user.is_authenticated %}
					<li class="nav-item "><a href="../logout" class="nav-link">Logout</a></li>
				{% else %}
					<li class="nav-item "><a href="../login" class="nav-link">Login</a></li>
            	{% endif %}
            </ul>
        </div>
    </div>
</nav>
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Blog Single</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="../blog">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
            {% for i in blog %}
          <div class="col-lg-8 ftco-animate">
                  <img src = "{{ i.blg_pic.url }}"  alt="lol" class="img-fluid">
                      <h2 class="mb-3">{{i.blg_topic}}</h2>
                      <span>{{i.blg_desc}}</span>
          </div>
            {% endfor %}


          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box ftco-animate">
              <h3>Popular Articles</h3>
                {% for i in side_blg %}
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({{i.blg_pic.url}});"></a>
                <div class="text">
                  <h3 class="heading"><a href="../blog-single/{{i.blg_topic}}">{{i.blg_topic}}</a></h3>
                  <div class="meta">
                    <div><span class="icon-calendar"></span> {{i.blg_date}}</div>
                    <div><span class="icon-person"></span> {{i.blg_name_blgger}}</div>
                  </div>
                </div>
              </div>
                {% endfor %}
              <!--<div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'images/image_2.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'images/image_3.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>-->
<!--
            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <ul class="tagcloud m-0 p-0">
                <a href="#" class="tag-cloud-link">House</a>
                <a href="#" class="tag-cloud-link">Office</a>
                <a href="#" class="tag-cloud-link">Land</a>
                <a href="#" class="tag-cloud-link">Building</a>
                <a href="#" class="tag-cloud-link">Table</a>
                <a href="#" class="tag-cloud-link">Intrior</a>
                <a href="#" class="tag-cloud-link">Exterior</a>
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Archives</h3>
              <ul class="categories">
                <li><a href="#">December 2018 <span>(30)</span></a></li>
                <li><a href="#">Novemmber 2018 <span>(20)</span></a></li>
                <li><a href="#">September 2018 <span>(6)</span></a></li>
                <li><a href="#">August 2018 <span>(8)</span></a></li>
              </ul>
            </div>


            <div class="sidebar-box ftco-animate">
              <h3>Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>&lt;!&ndash; END COL &ndash;&gt;
        </div>-->
      </div>
    </section>

    {% endblock %}