{% extends 'base.html' %}
{% load static %}

{% block title %}

<title>Dpdzines</title>

{% endblock %}

{% block content %}
<div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="project" class="nav-link">Project</a></li>
                <li class="nav-item"><a href="services" class="nav-link">Services</a></li>
                
                <li class="nav-item"><a href="blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a href="../admin" class="nav-link">Admin</a></li>
					<li class="nav-item "><a href="../logout" class="nav-link">Logout</a></li>
				{% else %}
					<li class="nav-item "><a href="../login" class="nav-link">Login</a></li>
            	{% endif %}
            </ul>
        </div>


</nav>

<section class="home-slider js-fullheight owl-carousel bg-white">
    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
                 data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight"
                     style="background-image:url({% static 'images/bg_1.jpg' %});">
                    <h3 class="vr">Architecture Firm</h3>
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text">
                        <h1 class="mb-4">We Love Modern Designs</h1>
                        <a href="project" class="btn btn-primary px-4 py-3 mt-3">View our works</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
                 data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight"
                     style="background-image:url({% static 'images/bg_2.jpg' %});">
                    <h3 class="vr">Since - 2011</h3>
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text">
                        <h1 class="mb-4">We Create Amazing Interior Designs</h1>
                        <a href="project" class="btn btn-primary px-4 py-3 mt-3">View our works</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftc-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 p-md-5 img img-2" style="background-image: url({% static 'images/bg_3.jpg' %});">
            </div>
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section mb-5 pl-md-5">
                    <div class="pl-md-5 ml-md-5">
                        <h2 class="mb-4">Hello &amp Welcome</h2>
                    </div>
                </div>
                <div class="pl-md-5 ml-md-5 mb-5">
                    <p>“DpdzineS” An Interior Designing and Decoration firm serves their client in multiple
                        sectors. We are specialized in Interior Design and services.
                        dpdzineS is known for its ability to provide innovative solutions that cater to a client’s
                        requirements, tastes and budget. Our team of interior designers prepares custom tailored
                        packages and provides entire project management support from procurement and budget
                        management to design and execution.</p>
                    <p><a href="about" class="btn-custom">Learn More <span class="ion-ios-arrow-forward"></span></a></p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-counter img" id="section-counter"
         style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-end">
            <div class="col-lg-10">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="8">0</strong>
                                <span>Years of Experienced</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="50">0</strong>
                                <span>Happy Clients</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="64">0</strong>
                                <span>Finished Projects</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="300">0</strong>
                                <span>Working Days</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-services">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-5">
            <div class="col-md-4 heading-section ftco-animate">
                <h2 class="mb-4">Our Work Flow</h2>
            </div>
            <div class="col-md-8 pl-md-5 ftco-animate">
                <div class="pl-md-4 border-line ">
                    <p>Our work flow defines our creativity.<br>Each step is well planned and statisfy our clients.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-idea"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Perfectly Design</h3>
                        <p>Design is the most important entity in every interior or renovation work. Our team not only makes the design perfect
                        but also consider the client's requirements.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-compass-symbol"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Carefully Planned</h3>
                        <p>We planned projects steadily and carefully, to make it
                        happen on time and in budget.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-layers"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Smartly Execute</h3>
                        <p>We prefer smart execution over traditional ways. This not
                        only helps in time-saving but also done the work with perfection.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-start mt-5 py-5">
            <div class="col-md-4 heading-section ftco-animate">
                <h2 class="mb-4">Our Services</h2>
                <p>We provides following services to our customers.</p>
            </div>
            <div class="col-md-8 ftco-animate">
                <div class="row d-flex">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="media block-6 services services-2 d-block bg-light p-4 mb-4">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-layers"></span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Design</h3>
                                <p>A design is a plan or specification for the construction
                                    of an object or system or for the implementation of an activity or process,
                                    or the result of that plan or specification in the form of a prototype,
                                    product or process.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="media block-6 services services-2 d-block bg-light p-4 mb-4">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-layers"></span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Industrial Design</h3>
                                <p>Industrial design is a process of design applied to products that are
                                    to be manufactured through techniques of mass production.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="media block-6 services services-2 d-block bg-light p-4 mb-4">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-layers"></span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Architecture Support</h3>
                                <p>Architecture, the art and technique of designing and building,
                                    as distinguished from the skills associated with construction. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="media block-6 services services-2 d-block bg-light p-4 mb-4">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-layers"></span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Renovation</h3>
                                <p>Renovation is the act of renewing or restoring something.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-2">
            <div class="col-md-4 heading-section ftco-animate">
                <span class="subheading subheading-with-line"><small class="pr-2 bg-white">Projects</small></span>
                <h2 class="mb-4">Featured Projects</h2>
            </div>

        </div>
    </div>
    <div class="container-wrap">
        <div class="row no-gutters">
            {% for i in hm_design_img %}
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="{{ i.design_img_link }}" width="400" height="379.5" alt="Colorlib Template">
                    <div class="text">
                        <span>{{ i.design_type }}</span>
                        <h3><a href="../project">{{ i.design_name }}</a></h3>
                    </div>
                    <a href="{{ i.design_img_link }}"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
                <span class="subheading subheading-with-line"><small class="pr-2 bg-light">Testimony</small></span>
                <h2 class="mb-4">Our satisfied customer says</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    {% for j in cst_feed %}
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url({%static 'images/blank-profile-picture-973460_960_720.png' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                            </div>

                            <div class="text">
                                <p class="mb-5 pl-4 line">{{ j.cst_feed }}</p>
                                <div class="pl-5">
                                    <p class="name">{{ j.cst_name }}</p>
    
                                </div>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-2">
            <div class="col-md-4 heading-section ftco-animate">
                <span class="subheading subheading-with-line"><small class="pr-2 bg-white">Blog</small></span>
                <h2 class="mb-4">Recent Blog</h2>
            </div>
            <div class="col-md-8 pl-md-5 heading-section ftco-animate">
                <div class="pl-md-4 border-line">

                </div>
            </div>
        </div>
        <div class="row">
            {% if blogs %}

            {% for i in blogs %}

            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="../blog-single/{{ i.blg_topic }}" class="block-20"
                       style="background-image: url('{{ i.blg_pic.url }}');">
                    </a>
                    <div class="text d-flex py-4">
                        <div class="meta mb-3">
                            <div><a href="#">{{ i.blg_date }}</a></div>
                            <div><a href="#">{{ i.blg_name_blgger}}</a></div>

                        </div>
                        <div class="desc pl-3">
                            <h3 class="heading"><a href="../blog-single/{{i.blg_topic}}">{{ i.blg_topic }}</a></h3>
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}
            {% else %}
                <img src =" http://www.astons.com.sg/wp-content/uploads/2017/01/Title-ComingSoon.png" alt = " Will be uploaded soon!!" height="200" width="300" >
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}