#myList .project{ display:none;
}
#loadMore {
    color:white;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:white;
    cursor:pointer;
    display:none;
}
#showLess:hover {
    color:black;
}

